<h1>This is shop index</h1>
<div>
  <%= form_tag(shops_path, :method => "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<ul id="shops">
  <% @shops.each do |shop| %>
    <%= render :partial => "shop_list", :locals => {shop: shop} %>
  <% end %>
</ul>