<h1>this is show page</h1>

<%= @shop.name %>
<div id="map" style="width:500px;height:300px">地圖預留</div>

<script type="text/javascript">
  $(function(){
    handler = Gmaps.build('Google');  
    handler.buildMap({ provider: {
      disableDefaultUI: true
    }, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(17);
        handler.map.centerOn(<%=raw @hash.to_json %>);
      })
  })
</script>